# 🔄 Fichiers de la base de données
DB/
OCR/PADDLE_TRAINING/pretrain_models
ocrocheckpoints/
ocroput/
output/
paddle_cache/
train_long/
train_short/
eval/
debug_boxes/
debug_crops/

# 🧪 Environnements Python
.env/
.venv/
env/
__pycache__/
*.pyc
.vs/

# IDE
.vscode/
.idea/

# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/install_manifest.txt

# CMake-generated install script
cmake_install.cmake
