# 🔄 Fichiers générés automatiquement
pipeline_OCR/processed_files/
pipeline_OCR/evaluation/logs/
pipeline_OCR/traitement_lot/output/
pipeline_OCR/traitement_lot/input_pdf/

# 🧪 Environnements Python
.env/
.venv/
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/install_manifest.txt

# CMake-generated install script
cmake_install.cmake
data_scraper/chromedriver.exe
