# 🔄 Fichiers générés automatiquement
pipeline_OCR/processed_files/
pipeline_OCR/evaluation/logs/
traitement_lot/
DB/

# 🧪 Environnements Python
.env/
.venv/
env/
__pycache__/
*.pyc
*.png
.vs/

# IDE
.vscode/
.idea/

# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
/Makefile
/install_manifest.txt

# CMake-generated install script
cmake_install.cmake
data_scraper/chromedriver.exe
