# Tout ignorer sauf les fichiers essentiels
*

# Exceptions (à inclure explicitement)
!scripts/
!scripts/**
!requirements.txt
!CMakeLists.txt
!docs/
!docs/README.md
!.gitignore

# macOS
.DS_Store
.AppleDouble
.LSOverride